# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Burst
**/BurstDebugInformation_DoNotShip/
**/BurstCache/

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# Unity build & debug
*.apk
*.aab
UpgradeLog.htm
PikachuGame.apk
Pikachu Game_BurstDebugInformation_DoNotShip/


# Firebase native plugins (large files)
Assets/Firebase/Plugins/
Assets/GeneratedLocalRepo/


